---
import { getCollection, type CollectionEntry } from 'astro:content'


export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map((post: CollectionEntry<'posts'>) => ({
    params: { slug: post.slug },
    props: { post }
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<main>
  <h1>{post.data.title}</h1>
  <Content />
</main>